<h1> <%=@user.username.titlecase%>'s Profile</h1>
<% if %>
<% @user.followers.count == 1 %>
<h2> <%= @user.followers.count%> Follower</h2>
<% else %>
<h2> <%= @user.followers.count%> Follower</h2>
<% end %>

<h2> <%= @user.leaders.count%> Following</h2>

<% if %>
<% @user.received_follow_requests.where(status: "pending").count == 1 %>
<h2> <%= @user.received_follow_requests.where(status: "pending").count%> Follower Pending</h2>
<% else %>
<h2> <%= @user.received_follow_requests.where(status: "pending").count%> Followers Pending</h2>
<% end %>

<h3> Danny's Photos</h3>
<div class="row">

  <% @user.own_photos.each do |photo|%>
    <div class="col">
      <div class="card">
        <%= image_tag photo.image, class: "card-img-top" %>

        <div class="card-body">
        <%if photo.comments.count == 1%>
        <h4><%=photo.comments.count%> Comment</h4>
        <% else %>
        <h4><%=photo.comments.count%> Comments</h4>
        <% end %>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% photo.comments.each do |comment| %>
              <li>
                <p class="card-text"><%= comment.body %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <hr>
    <% end %>

  </div>
</div>
